<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration />
    <LastUsedPlatform />
    <SiteUrlToLaunchAfterPublish>http://weddingsite411.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>weddingsite411.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WeddingSite411</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$WeddingSite411</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:weddingdb.database.windows.net,1433;Initial Catalog=WeddingSite411_db;User ID=weddingpage@weddingdb;Password=Wedding2017" Name="Data Source=tcp:weddingdb.database.windows.net,1433;Initial Catalog=WeddingSite411_db;User Id=weddingpage@weddingdb;Password=Wedding2017;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="WeddingSite411.Models.ApplicationDbContext, WeddingSite411" MigrationConfiguration="WeddingSite411.Migrations.Configuration, WeddingSite411" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:weddingdb.database.windows.net,1433;Initial Catalog=WeddingSite411_db;User Id=weddingpage@weddingdb;Password=Wedding2017;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>