@{
    ViewBag.Title = "Home Page";
}

<h2>Brittany & Chris</h2><br />
<center><img src="~/Images/homeimage.jpg" width="600" /></center><br />


<h2>COUNTDOWN TIL THE BIG DAY</h2><br />
<center><script language="JavaScript">
TargetDate = "05/20/2017 7:00 PM";
BackColor = "white";
ForeColor = "black";
CountActive = true;
CountStepper = -1;
LeadingZero = true;
DisplayFormat = "%%D%% Days, %%H%% Hours, %%M%% Minutes, %%S%% Seconds.";
FinishMessage = "It is finally here!";
</script>
<script language="JavaScript" src="http://scripts.hashemian.com/js/countdown.js"></script></center>