
@{
    ViewBag.Title = "Registry";
}

<h2>Registry</h2>

<center><a href="https://secure.williams-sonoma.com/registry/x8zqrqhh6q/registry-list.html" class="btn btn-primary btn-lg">Williams Sonoma</a></center><br />

<center><a href="http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&registryId=542976944&pwsurl=" class="btn btn-primary btn-lg">Bed Bath and Beyond</a></center><br />


